__pycache__/
examples/
venv/
/translation_systemstatic/videos/
translation_system/static/PDF/
translation_system/static/images/
translation_system/static/user/
translation_system/static/data/
.idea/
translation_system/static/uploads/
translation_system/static/font-awesome-4.7.0/
translation_system/static/js/bootstrap/
translation_system/static/images/
terms/
data/
translation_system/__pycache__/
source.pdf
