<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        
        <title>Collaboration</title>
        
        <link rel="stylesheet" href="../static/css/ui/workingpage.css">
        <script src="../static/js/bootstrap/jquery-1.9.0.min.js"></script>
        <script src="../static/js/bootstrap/jquery.media.js"></script>
        <script src="../static/js/bootstrap/jszip.js"></script>
        <script src="../static/js/bootstrap/docx.js"></script>
        
        <style>
            blockquote {
                border-left:#eee solid 5px;
                padding-left:20px;
            }
            code {
                color:#D34B62;
                background: #F9F2F4;
            }
           
        </style>
        
    </head>
    
    <body>
        
        <div id="preview" class="pdfarea">
            <a id="projId" class="pdf" href="/files/{{ projId }}"></a>
        </div>
        
        <div id="process" class="query-area" style="display:none"></div>
        
        <div id="show" class="pdfarea" style="display:block">
<!--            <a class="pdf" href="../../guibas1985.pdf"></a>-->
            <a id="translationId" class="pdf"></a>
        </div>
        <script>
            function queryProcess() {
                $.ajax({
                    type: "POST",
                    url: "/query/{{tid}}",
                    success: function (res) {
                        if (res == "false") {
                            alert("fail to translate file");
                            return false;
                        } else {
//                            var result = JSON.parse(res);
                            percent = parseFloat(res["percent"]);
                            if (percent < 100) {
                                $("#process")[0].innerHTML = "The process of translation is " + res["percent"] + "%...";
                                setTimeout(queryProcess, 1000);
                            } else {
                                $.ajax({
                                    type: "POST",
                                    url: "/download_file/{{translationId}}",
                                    data: JSON.stringify({{tid}}),
                                    success: function (res) {
                                        if (res == "false") {
                                            alert("fail to download translated file");
                                        } else {
                                            $("#process")[0].style.display = "none";
                                            $("#show")[0].style.display = "block";
                                            $("#translationId")[0].href = "/files/{{ translationId }}";
                                            $("#process")[0].innerHTML = "";
                                            location.reload();
                                        }
                                    },
                                    error: function () {
                                        alert("fail to load translated file");
                                    }
                                });
                            };
                        }
                    },
                    error: function (res) {
                        alert("fail to load translation file");
                        return true;
                    }
                });
            }
            
            var percent = 0;
            if ({{tid}} === -1) {
                $("#process")[0].style.display = "none";
                $("#translationId")[0].href = "/files/{{ translationId }}";
                $("#translationId")[0].innerHTML = "";
            } else {
                $("#show")[0].style.display = "none";
                $("#process")[0].style.display = "block";

                queryProcess();
                
            }
            
        </script>
        <script>
            $(".pdf").media({width:"100%", height:"100%"});
        </script>
    </body>
</html>