
<html lang="en">
<head>
    <title>Collaboration</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="../static/css/bootstrap/bootstrap.css">
    <script src="../static/js/bootstrap/jquery.js"></script>
    <script src="../static/js/regulator/home_page.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap/style.css">

    <!-- MAIN CSS -->
    <!-- <link rel="stylesheet" href="../static/css/bootstrap/tooplate-style.css"> -->
    <link rel="stylesheet" href="../static/css/ui/Dashboard.css">

</head>
<body>
    
    <noscript><strong>YOU NEED TO OPEN JAVASCRIPT TO USE THIS PLATFORM</strong></noscript>

    <!-- MENU -->
    <div class="navbar custom-navbar navbar-fixed-top" role="navigation">
        <div class="container">

            <!-- NAVBAR HEADER -->
            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-bar" style="background:black"></span>
                    <span class="icon icon-bar" style="background:black"></span>
                    <span class="icon icon-bar" style="background:black"></span>
                </button>
                <!-- lOGO -->
    <!--            <a href="#" class="navbar-brand">DaGoo!</a>-->
                <p class="navbar-brand">COLLABORATION</p>
            </div>

            <!-- MENU LINKS -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" class="smoothScroll">HOME</a>
                    <li><a href="#" class="smoothScroll">MY BOOKS</a></li>
                    <li><a href="#" class="smoothScroll">MY GROUPS</a></li>
                    <li><a href="#" class="smoothScroll">SETTINGS</a></li>
    <!--
                    <li><a href="/about_us" class="smoothScroll">About us</a></li>
                    <li><a href="/contact_us" class="smoothScroll">Contact us</a></li>
    -->
                    <li>
                        <div style="width: 2px; height: 20px; background-color: #090909; margin: 20px"></div>
                    </li>
                    {% if user %}
                        <li class="user_img"><a class="page-scroll" href="/user/">
                            <div class="to3" style="margin-top: -10px;">
                                <div class="to2">
                                    <div class="to1">
                                        <img class="to" src="/static/user/{{ user.email }}/img/user_img.jpg">
                                    </div>
                                </div>
                            </div>
                        </a>
                        </li>
                        <li><a href="/login/" class="page-scroll">Quit</a></li>
                    {% else %}
                        <li>
                            <a href="/login/" class="">Log in/Sign up</a>
                        </li>
                    {% endif %}
                    {% if user %}
                        {% if user.permission==100 %}
                            <li>
                                <a href="/admin/?manager={{ user.username }}" class="" style="border-bottom-color: transparent;">manage</a>
                            </li>
                        {% endif %}
                    {% endif %}
                </ul>
                {% if user %}
                    <script>

                        var permi = '' +{{ user.role }};
                        switch (permi) {
                            case "1":
                                $('.to3').css('background-color', '#aac4bc');
                                break;
                            case "0":
                                $('.to3').css('background-color', '#ae853b');
                                break;
                            default:
                                $('.to3').css('background-color', 'white');
                        }
                    </script>
                {% endif %}
            </div>

        </div>
    </div>

    <!-- HOME -->
    <section id="home" class="parallax-section">
        <div class="container">
            <div class="el-card box el-card-shadow">
                <div class="el-card-head">
                    <div class="clearfix">
                        <strong>My Assignments</strong>
                        <button type="button" class="el-button el-button-text" style="padding: 3px 1rem" onclick=location.reload()>Refresh</button>
<!--                        <button type="button" class="el-button el-button-text" style="padding: 3px 0px">Skip</button>-->
                    </div>
                </div>
                
                <div class="el-card-body">
                    <div class="el-table">
                        <div class="el-table-head-wrapper">
                            <table cellspacing="0" cellpadding="0" border="0" class="el-table-head">
                                <tr>
                                    <th colspan="1" rowspan="1" >
                                        <div class="cell">Details</div>
                                    </th>
                                    <th colspan="2" rowspan="1">
                                        <div class="cell">Name</div>
                                    </th>
                                    <th colspan="2" rowspan="1">
                                        <div class="cell">Type</div>
                                    </th>
                                    <th colspan="2" rowspan="1">
                                        <div class="cell">Deadline</div>
                                    </th>
                                    <th colspan="2" rowspan="1">
                                        <div class="cell">Progress</div>
                                    </th>
                                </tr>
                            </table>
                        </div>
                        <script>
                            
                            $(document).ready(function () {
            
                                drawAssign();

                            });
                        </script>
                        <div class="el-table__body-wrapper is-scrolling-none">
                            <table id="task-content" cellspacing="0" cellpadding="0" border="0" class="el-table__body">
                               <!-- <tbody id="foo">
                                    <tr>
                                        <td rowspan="1" colspan="1">
                                            <div class="cell">
                                                <div id="icon-settings" class="el-table__expand-icon tri-left" onclick="expand(this)"></div>
                                            </div>
                                        </td>
                                        <td rowspan="1" colspan="2">
                                            <div class="cell">
                                                foo
                                            </div>
                                        </td>
                                        <td rowspan="1" colspan="2">
                                            <div class="cell">
                                                --none--
                                            </div>
                                        </td>
                                        <td rowspan="1" colspan="2">
                                            <div class="cell">
                                                2019/04/01
                                            </div>
                                        </td>
                                        <td rowspan="1" colspan="2">
                                            <div class="cell">
                                                100%
                                            </div>
                                        </td>
                                    </tr>
                                    
                                </tbody>-->
                                <tr id="project-details" style="display:none">
                                    <td colspan="4" class="el-table__expanded-cell">
                                        <div class="el-card is-always-shadow">
                                            <div class="el-card__header">
                                                <div class="clearfix">
                                                    <strong>Translation Files</strong>
                                                </div>
                                            </div>
                                            <div class="el-card__body">
                                                <div style="cursor:pointer">
                                                    <a id="view-translation">View</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="el-card is-always-shadow">
                                            <div class="el-card__header">
                                                <div class="clearfix">
                                                    <strong>Work Zone</strong>
                                                </div>
                                            </div>
                                            <div class="el-card__body">
                                                <div style="cursor:pointer">
                                                    <a id="translator-area">Go</a>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                
                <!--<div class="el-card-item">
                    <table cellspacing="0" cellpadding="0" border="0" class="el-table-head">
                        <tr>
                            <th colspan="1" rowspan="1">
                                <div class="cell"
                            </th>
                        </tr>
                    </table>
                </div>-->
                <script>
                    function expand(ob) {
                        if (!$(ob).is('.el-table__expand-icon--expanded')) {
                            ob.classList.add('el-table__expand-icon--expanded');
                            var projDetails = document.getElementById('project-details');
                            projDetails.style.display = 'inline-block';
                            ob.parentNode.parentNode.parentNode.parentNode.appendChild(projDetails);
                        } else {
                            ob.classList.remove('el-table__expand-icon--expanded');
                            var projDetails = document.getElementById('project-details');
                            projDetails.style.display = 'none';
                            $("body").append(projDetails);
                        }
                        var taskBody = ob.parentNode.parentNode.parentNode.parentNode;
                        var taskId = taskBody.name;
                        $.ajax({
                            type: "POST",
                            url: "/get_setting_item/" + taskBody.id,
//                                    data: JSON.stringify(taskBody.id),
                            success: function (res) {
                                result = JSON.parse(res);
                                var viewTranslation = document.getElementById("view-translation");
                                viewTranslation.setAttribute("href", result["href"]);
                                
                                
                            },
                            error: function () {
                                alert("fail to get translation page");
                            }
                        });
                        
                        var pageLink = "/work/" + taskBody.id + "+" + taskId;
                        var workZone = document.getElementById("translator-area");
                        workZone.setAttribute("href", pageLink);
                        /*$.ajax({
                            type: "POST",
                            url: "/get_translator_task_file/" + taskBody.id,
                            data: JSON.stringify({{user}}),
                            success: function (res) {
                                var pageName = res.split("/").slice(-1)[0];
                                var pageLink = "/work/" + taskBody.id + "+" + {{user}};
                                var workZone = document.getElementById("translator-area");
                                workZone.setAttribute("href", pageLink);
                            },
                            error: function () {
                                alert("fail to enter working zone");
                                return;
                            }
                        });*/

                    }
                </script>
            </div>
        </div>
    </section>


    <!-- SCRIPTS -->
    <script src="../static/js/bootstrap/jquery.js"></script>
    <script src="../static/js/bootstrap/bootstrap.min.js"></script>
    <script src="../static/js/bootstrap/jquery.parallax.js"></script>
    <script src="../static/js/bootstrap/modernizr.custom.js"></script>
    <script src="../static/js/bootstrap/SmoothScroll.js"></script>
    <script src="../static/js/bootstrap/main.js"></script>
    <script src="../static/js/bootstrap/custom.js"></script>
    <script src="../static/js/upload/upload.js"></script>
    <script src="../static/js/upload/papaparse.js"></script>
    <script src="../static/js/upload/jschardet.min.js"></script>
</body>
<style>
a:hover{text-decoration:underline;color: white;}
</style>
</html>
