.pdfarea {
    width: 50%;
    height: 100%;
    float: left;
}

.pdf {
    width: inherit;
    height: inherit;
}

.editarea {
    width: 50%;
    height: 100%;
    float: left;
}

.translate {
    width: 100%;
    height: 48%;
}

.submit-button {
    width: 100%;
    height: 4%;
}

.show-area, .translate-area {
    width: 95%;
    height: 100%;
    float: right;
    font-size: 10px;
    outline: none;
}

.translate-area {
    border: 1px solid #999999;
}

.show-area {
    overflow: auto;
}