.el-card, .el-card-shadow {
    -webkit-box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
}

.el-card {
    border: 1px solid #ebeef5;
    background-color: #fff;
    color: #303133;
    -webkit-transition: .3s;
    transition: .3s;
}

.el-card {
    border-radius: 4px;
    overflow: hidden;
}

.el-card-head {
    padding: 20px;
    border-bottom: 1px solid #ebeef5;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.box {
    position: absolute;
    margin: auto;
    top: 70px;
    left: 0;
    right: 0;
    width: 90%;
}

.el-card-head {
    padding: 18px 20px;
    border-bottom: 1px solid #ebeef5;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix {
    font-size: 20px;
    font-weight: normal;
    color: #090909;
}

.el-button {
    border-color: transparent;
    float: right;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    border-radius: 4px;
    outline: 0;
}

.el-button-text {
    color: #409eff;
    background: 0.0;
}

.el-card-body {
    padding: 20px;
}

.el-table {
    position: relative;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex:1;
    -ms-flex:1;
    flex: 1;
    width: 100%;
}

.el-table-head-wrapper {
    width: 100%;
    border-bottom: 1px solid #ebeef5;
}

.el-table-head {
    table-layout: fixed;
    border-collapse: separate;
    width: 100%;
}

.cell {
    font-size: 18px !important;
    color: #606266 !important;
    padding: 12px;
    padding-left: 10px;
}

.el-table__body-wrapper {
	overflow: hidden;
	position: relative;
   /* -webkit-box-shadow: none;
	box-shadow: none;
    overflow-x: auto;
    overflow-y: auto;
    border-left: 1px solid #ebeef5;
    border-right: 1px solid #ebeef5;*/
    width: 100%;
}

.is-scrolling-none {
    -webkit-box-shadow: none;
	box-shadow: none;
}

.el-table__body {
    table-layout: fixed;
    border-collapse: separate;
    width: 100%;
}

.el-table__expand-icon {
	font-size: 12px
}

.el-table__expand-icon {
	position: relative;
	cursor: pointer;
	color: #666;
	-webkit-transition: -webkit-transform .2s ease-in-out;
	transition: -webkit-transform .2s ease-in-out;
	transition: transform .2s ease-in-out;
	transition: transform .2s ease-in-out,-webkit-transform .2s ease-in-out;
	height: 20px
}

.el-table__expand-icon--expanded {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg)
}

.el-table__expand-icon {
	position: absolute;
	margin-left: 20px;
	margin-top: -10px
}

.tri-left {
    width: 0;
    height:0;
    border-top:10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid grey;
}

.el-table,.el-table__expanded-cell {
	background-color: #fff
}

.el-table__expanded-cell[class*=cell] {
	padding: 20px 50px
}

.el-table__expanded-cell:hover {
	background-color: transparent!important
}

.el-card {
	border: 1px solid #ebeef5;
	background-color: #fff;
	color: #303133;
	-webkit-transition: .3s;
	transition: .3s;
   
    
}

.el-card .is-always-shadow {
     -webkit-box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
	 box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
}

.el-card__header {
    padding: 18px 20px;
	border-bottom: 1px solid #ebeef5;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.el-card__body {
	padding: 20px
}